<div style="padding: 50px;display: none;" id="content_continer">
  <h2>قائمة المنتجات</h2>
<br>
  <div class="row search_div">

    <div class="search  col-md-6 ">
      <label for="ss">الوصول السريع للمنتج</label><br><br>
      <div class="input-group ">
        <input style="background-color: #f0f0f0;" type="text" id="ss" class="form-control" placeholder="ادخل اسم المنتج أو SKU"
          aria-label="search" aria-describedby="basic-addon2" (keyup)="filterTable($event)">
  
      </div>
      <br>
    </div>
<br>
    <h2>منتجاتي</h2>
    <br>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">sku</th>
            <th scope="col">الصورة</th>
            <th scope="col">العنوان</th>
            <th scope="col">سعر التكلفة</th>
            <th scope="col">سعر البيع المقترح</th>
            <th scope="col">الحالة </th>
            <th scope="col">الاجراءات </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of tempProducts">
            <td class="product-td">{{x.sku}}</td>
            <td class="product-td"><img src="data:{{x.images[0].type}};base64,{{x.images[0].image}}" width="50"
                height="50" style="border-radius: 50%"></td>
            <td class="product-td">{{x.name}}</td>
            <td class="product-td">{{x.costPrice}}</td>
            <td class="product-td">{{x.suggestedPrice}}</td>
            <td class="product-td"><span class="status"
                [ngStyle]="{'background-color':getStatusColor(x.active)}">{{getStatusMsg(x.active)}}</span></td>
            <td class="product-td">
              
              <span><button class="btn btn-small bg-success rd-50"
                  (click)="openCatalogModal($event)" [id]="x.sku"><i (click)="openCatalogModal($event)" [id]="x.sku"
                    class="bi bi-eye" style="color: #fff;"></i> </button></span>


              <span *ngIf="x.active"><button class="btn btn-small rd-50 add-to-cart"  title="اضافة الى السلة"
                  (click)="addToCart(x.sku)"><i class="bi bi-cart-plus" style="color: #fff;"></i> </button></span>


              <span><button (click)="openModal($event)" [id]="x.sku" class="rd-50 btn btn-small bg-danger"><i
                    (click)="openModal($event)" [id]="x.sku" class="bi bi-trash"
                    style="color: #fff;"></i></button></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Cancle Modal -->
<div class="modal fade" id="close_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
  <div class="modal-dialog modal-l" role="document">
    <div class="modal-content">

      <div class="modal-body" style="text-align: center;">
        <i style="font-size: 70px;color:#facea8" class="bi bi-question-circle"></i>
        <div class="row" style="padding: 10px">
          <h4 class="text-muted" style="font-weight: 600;">هل تريد بالتأكيد حذف المنتج؟</h4>
        </div>

        <div class="margin-top-xl">
          <input type="button" class="btn btn-danger margin-left-m" value="نعم" (click)="removeProduct()"
            style="width: 100px;">
          <input type="button" class="btn btn-secondary" [id]="" (click)="hideCloseModal()" value="لا"
            style="width: 100px;">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  style="width: 100%">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="border: none;background-color:#fff;"
          aria-label="Close" (click)="closeCatalogModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4" id="catalogImages">
            <!-- images-->
            <img  id="mainImg" height="400" style="width: 80%;" />

            <img  id="img1" width="100" height="100" class="margin-top-xl" style="display: none;">
            <img  id="img2" width="100" height="100" style="display: none;">
            <img  id="img3" width="100" height="100" style="display: none;">

            <img  id="img4" width="100" height="100" style="display: none;">
            <img  id="img5" width="100" height="100" style="display: none;">

            <img  id="img6" width="100" height="100" style="display: none;">
            <img  id="img7" width="100" height="100" style="display: none;">

            <img  id="img8" width="100" height="100" style="display: none;">
            <img  id="img9" width="100" height="100" style="display: none;">
            <img  id="img10" width="100" height="100" style="display: none;">

            <img  id="img11" width="100" height="100" style="display: none;">
            <img  id="img12" width="100" height="100" style="display: none;">
            <img  id="img13" width="100" height="100" style="display: none;">
          </div><!-- End images-->

          <div class="col-md-8 col-sm-8 col-lg-8 margin-top-xl">
            <!--Content-->
            <h2 id="title">ماكينة حلاقة الراس</h2>
            <h4 id="cost">9 د.أ</h4>
            <div class="row">

              <div class="col-md-6">
                <table>
                  <tr>
                    <td>
                      <h5 style="color: green">الوزن</h5>
                    </td>
                    <td class="text-muted" id="wieght">0.6 كغ</td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green">SKU</h5>
                    </td>
                    <td class="text-muted" id="sku">PC-m1-01</td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green; width: 80px;">بلد المنشا</h5>
                    </td>
                    <td class="text-muted" id="place">الصين</td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green">الجودة</h5>
                    </td>
                    <td class="text-muted" id="quality">ممتاز</td>
                  </tr>
                </table>
              </div>

              <div class="col-md-6">
                <table>
                  <tr>
                    <td>
                      <h5 style="color: green">سعر البيع المقترح</h5>
                    </td>
                    <td class="text-muted" id="siling">15 د.ا</td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green">الكفالة</h5>
                    </td>
                    <td class="text-muted" id="quaranty">تشغيلية </td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green; width: 130px;">اصلي </h5>
                    </td>
                    <td class="text-muted" id="orginal">نعم</td>
                  </tr>

                  <tr>
                    <td>
                      <h5 style="color: green">ابعاد المنتج</h5>
                    </td>
                    <td class="text-muted" id="dimentions">20X40X56 مم</td>
                  </tr>

                  <tr id="totoriulRow">

                    <td>
                      <h5 style="color: green">فيديو تسويقي للمنتج</h5>
                    </td>

                    <td class="text-muted"><a target="_blank" id="totoriul"><i class="bi bi-box-arrow-up-right"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <button id="downloadPhotos" class="btn  margin-top-xl"> <i class="bi bi-download"
                style="margin-left: 10px"></i>تحميل صور المنتج</button>

            <h4 class="margin-top-xxl" style="font-weight: 500;">الوصف</h4>
            <textarea style="width: 100%; border-radius: 5px;" rows="8" id="description" class="form-control"
              disabled></textarea>

          </div>
          <!--End Content-->

        </div>
      </div>
    </div>
  </div>
</div>