<div style="padding: 50px;" id="content_continer">
  <div class="search row search_div" id="">
    <div class="input-group ">
      <input style="background-color: #f0f0f0;" type="text" class="form-control" placeholder="ادخل اسم المنتج أو SKU"
        aria-label="search" aria-describedby="basic-addon2" (keyup)="filterTable($event)">

    </div>
  </div>

  <div class="row search_div">
    <h2>منتجاتي</h2>
    <br>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">الصورة</th>
            <th scope="col">العنوان</th>
            <th scope="col">سعر التكلفة</th>
            <th scope="col">سعر البيع المقترح</th>
            <th scope="col">الحالة </th>
            <th scope="col">الاجراءات </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let x of tempProducts">
            <td>{{x.getID()}}</td>
            <td><img src="{{x.getImage()}}" width="50" height="50" style="border-radius: 50%"></td>
            <td>{{x.getTitle()}}</td>
            <td>{{x.getCost()}}</td>
            <td>{{x.getSellingPrice()}}</td>
            <td>{{x.getStatus()}}</td>
            <td><span><button class="btn btn-small bg-success rd-50"><i class="bi bi-eye"></i> </button></span>
              <span><button (click)="openModal($event)" [id]="x.getID()" class="rd-50 btn btn-small bg-danger"><i
                    (click)="openModal($event)" [id]="x.getID()" class="bi bi-trash"></i></button></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Cancle Modal -->
<div class="modal fade" id="close_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  >
  <div class="modal-dialog modal-l " role="document">
    <div class="modal-content">

      <div class="modal-body" style="text-align: center;">
        <i style="font-size: 70px;color:#facea8" class="bi bi-question-circle"></i>
        <div class="row" style="padding: 10px">
          <h4 class="text-muted" style="font-weight: 600;">هل تريد بالتأكيد حذف المنتج؟</h4>
        </div>

        <div class="margin-top-xl">
          <input type="button" class="btn btn-danger margin-left-m" value="نعم" (click)="removeProduct()" style="width: 100px;">
          <input type="button" class="btn btn-secondary" [id]="" (click)="hideCloseModal()" value="لا" style="width: 100px;">
        </div>
      </div>
    </div>
  </div>
</div>