table {
    max-width: 100%;
}

.search_div {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
}

#search_btn:hover {
    background-color: #1e7e34 !important;
}

#search_btn {
    background-color: #67CF94;
    border-radius: 8px;
}

.product-td {
    text-align: center;
    padding: 30px;

}

th {
    text-align: center;
}

.rd-50 {
    border-radius: 50%;
    margin-left: 4px;
}

.bg-success {
    background-color: #67CF94 !important;
}

.bg-danger {
    background-color: #D66B53 !important;
}

.bg-danger:hover {
    background-color:  #bd2130!important;
}

.bg-success:hover {
    background-color:#1e7e34!important;
}

.badge-danger {
    color: #fff;
    background-color:  #FC7383 !important;
}

#cost {
    color: #ce0000;
}

#downloadPhotos {
    background-color: #67CF94 !important;
    width: 200px;
    padding: 12px;
    border-radius: 20px;
    color: #fff;
  }
  
  #downloadPhotos:hover {
    background-color: #1e7e34 !important;
  }

  .status {
    font-size: 12px;
    line-height: 1;
    padding: 4px 12px;
    border-radius: 20px;
    color: #fff;
}

.add-to-cart{
    background-color: #8280FD;
}

.add-to-cart:hover{
    background-color: #0062cc!important;
}