<div style="text-align: right;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="../../../assets/logo.png" height="28" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active" routerLink="/dashboard">لوحة التحكم</a>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> المتجر</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link" routerLink="/catalog">كتالوج المنتجات</a>
                            <a href="#" class="nav-item nav-link" routerLink="/products">منتجاتي</a>
                            <a href="#" class="nav-item nav-link" routerLink="/orders">الطلبات</a>
                        </div>
                    </div>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> الحساب</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link" routerLink="/userProfile">اعدادات الحساب</a>
                            <a href="#" class="nav-item nav-link" routerLink="/wallet">المحفظة المالية</a>
                            <a href="#" class="nav-item nav-link">اشتراكي</a>
                        </div>
                    </div>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> اخرى</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link">الجوائز</a>
                            <a href="#" class="nav-item nav-link">مركز الدعم</a>
                            <a href="#" class="nav-item nav-link">اشتراكي</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>