<div style="text-align: right;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">
          <img src="../../../assets/logo.png" height="28" alt="">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex" id="navbarCollapse">
          <div class="navbar-nav" style="flex-grow:1;">
            <a href="#" class="nav-item nav-link active" routerLink="/dashboard">لوحة التحكم</a>

            <div class="dropdown nav-item nav-link">
              <span style="color: rgba(0,0,0,.9);"> المتجر</span>
              <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
              <div class="dropdown-content">
                <a href="#" class="nav-item nav-link" routerLink="/orderdeatils">كتالوج المنتجات</a>
                <!--catalog-->
                <a href="#" class="nav-item nav-link" routerLink="/products">منتجاتي</a>
                <a href="#" class="nav-item nav-link" routerLink="/orders">الطلبات</a>
              </div>
            </div>

            <div class="dropdown nav-item nav-link">
              <span style="color: rgba(0,0,0,.9);"> الحساب</span>
              <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
              <div class="dropdown-content">
                <a href="#" class="nav-item nav-link" routerLink="/userProfile">اعدادات الحساب</a>
                <a href="#" class="nav-item nav-link" routerLink="/wallet">المحفظة المالية</a>
              </div>
            </div>

            <div class="dropdown nav-item nav-link">
              <span style="color: rgba(0,0,0,.9);"> اخرى</span>
              <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
              <div class="dropdown-content">
                <a href="#" class="nav-item nav-link">الجوائز</a>
                <a href="https://blog.dropphi.com" target="_blank" class="nav-item nav-link">مركز الدعم</a>
              </div>
            </div>
          </div>
          <div class="flex-initial">
            <ul class="nav">
              <li class="d-lg-flex" style="margin-left: 20px !important;">
                <!-- Main Header Button -->
                <div class="main-header-btn ml-md-1">
                  <a routerLink="/cart" class="btn"> <span class=" d-sm-inline">سلة
                      المشتريات</span> <span class="badge-me">5</span></a>
                </div>
                <!-- End Main Header Button -->
              </li>
              <!--notification-->
              <li>
                <div class="main-header-notification ">
                  <a href="#" class="header-icon notification-icon" data-toggle="dropdown" aria-expanded="false">
                    <span class="count bg-img" style="background-image: url(../../../assets/badge-bk.png);">65</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24.001" height="24.001" viewBox="0 0 24.001 24.001"
                      class="svg replaced-svg">
                      <path id="notification-icon"
                        d="M7.881,18.353h5.958c0,2.014-1.334,3.647-2.979,3.647S7.881,20.367,7.881,18.353Zm0,0Zm3.039-.13H0S5.369,14.71,5.453,5.487l0-.038A5.623,5.623,0,0,1,10.921.007V0L11,0l.078,0V.007A5.624,5.624,0,0,1,16.549,5.45l0,.038C16.63,14.71,22,18.223,22,18.223Z"
                        transform="translate(1.002 1.002)" fill="#e9e7ff" stroke="#8280fd" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                  </a>
             <div class="dropdown-menu" x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
                    <!-- Dropdown Header -->
                    <div class="dropdown-header ">
                      <h5>65 إشعارات جديدة</h5>
                      <a href="#" class="text-mute">
                        تعيين الكل كمقروء
                      </a>
                    </div>
                    <!-- End Dropdown Header -->

                    <!-- Dropdown Body -->
                    <div class="dropdown-body">

                      <a href="https://dropphi.com/dashboard/notifications/0c721c12-6b8b-4d2d-8c59-140bc4854f7d"
                        class="item-single">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج اضاءة حائط اب داون طاقة شمسية</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/387bc237-be91-46d6-826f-2790df9806dc"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج سماعات MOXOM WL29</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/4833af87-2e94-41f1-ba91-6e6b7d918f9b"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج m28</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/9d62687b-8625-4d67-bf40-3366439fb72d"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج m28 gaming</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/c152cfa6-7547-43e7-b100-33fb1c9c26b5"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج m5</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/382001b6-e7bb-40cf-a706-667d6c297457"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج فانوس طاقة شمسية شبابيك</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/9239efb7-71f6-4ef3-bf07-a1d36cca5a71"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ يوم</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج فانوس طاقة شمسية ابيض</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/2fc5ca01-8282-4255-840d-00b9ea09e322"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ 4 أيام</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج مانيكير وباديكير</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/ef9a0b80-d1a7-42bd-bf39-97b3e8fce43c"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ 4 أيام</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج جهاز شفط الهواء</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/b396fdb6-fb11-4123-93a1-9d0c85d29238"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ 4 أيام</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج ضاغط هواء محمول لإطارات السيارات</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/2248a1d3-a24b-4b05-ba90-0de0c3f0f2cd"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ 4 أيام</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج شاحن هاتف مكتبي سريع</p>
                        </div>
                      </a>

                      <a href="https://dropphi.com/dashboard/notifications/b8722e00-21fa-4371-950a-6c7a1e365dd6"
                        class="item-single d-flex align-items-center">
                        <div class="content">
                          <div class="mb-2">
                            <p class="time">منذ 4 أيام</p>
                          </div>
                          <p class="main-text">تم إضافة منتج جديد إلى الكتالوج شاحن لدنيو USB بالاضافة لباور بانك متنقل
                          </p>
                        </div>
                      </a>
                     
                    </div>
                
                    <!-- End Dropdown Body -->
                  </div>
                </div>
              </li>
              <!--log out-->
              <li class="order-2 order-sm-0">
                <!-- Main Header Search -->
                <div class="main-header-search">
                 <img src="../../../assets/logout.png" style=" width: 30px; cursor: pointer;">
                </div>
                <!-- End Main Header Search -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>