<div style="text-align: right;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a routerLink="/dashboard" class="navbar-brand">
                <img src="../../../assets/logo.png" height="28" alt="">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex" id="navbarCollapse">
                <div class="navbar-nav" style="flex-grow:1;">
                    <a href="#" class="nav-item nav-link active" routerLink="/dashboard">لوحة التحكم</a>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> المتجر</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link" routerLink="/catalog">كتالوج المنتجات</a><!--catalog-->
                            <a href="#" class="nav-item nav-link" routerLink="/products">منتجاتي</a>
                            <a href="#" class="nav-item nav-link" routerLink="/orders">الطلبات</a>
                        </div>
                    </div>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> الحساب</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link" routerLink="/userProfile">اعدادات الحساب</a>
                            <a href="#" class="nav-item nav-link" routerLink="/wallet">المحفظة المالية</a>
                        </div>
                    </div>

                    <div class="dropdown nav-item nav-link">
                        <span style="color: rgba(0,0,0,.9);"> اخرى</span>
                        <i class="bi bi-arrow-down-short " style="color: rgba(0,0,0,.9);"></i>
                        <div class="dropdown-content">
                            <a href="#" class="nav-item nav-link">الجوائز</a>
                            <a href="https://blog.dropphi.com" target="_blank" class="nav-item nav-link">مركز الدعم</a>
                        </div>
                    </div>

                    <a href="#" class="nav-item nav-link active" routerLink="/dashboard">تسجيل الخروج</a>
                </div>
                <div class="flex-initial">
                  <ul class="nav">
                    <li class="d-lg-flex">
                      <!-- Main Header Button -->
                      <div class="main-header-btn ml-md-1">
                                          <a routerLink="/cart" class="btn"> <span class=" d-sm-inline">سلة المشتريات</span> <span class="badge">5</span></a>
                                  </div>
                      <!-- End Main Header Button -->
                  </li>
                  </ul>
                </div>
            </div>
        </div>
    </nav>
</div>