#container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

table td {
    color: #727272;
}

.form-control.product_price {
    background: #fff;
    border: 1px solid #c5c5c5!important;
}

.pl-1, .px-1 {
    padding-left: 0.25rem!important;
}

.green-text {
    color: #28a745;
}

.note {
    padding: 8px 30px;
    font-weight: 700;
}

.payment-method {
    border: 2px solid #f0f0f0;
    padding-bottom: 20px;
}


 
.red-text{
    color: #ce0000;
}

.methods-title{
    background: #f0f0f0;
    color: #ce0000;
    padding: 7px 20px 10px!important;
}

.method-input{
    padding-left: 20px;
    padding-right: 20px;
}