*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.corner-btn {
    border-radius: 50px;
}


.form-control {
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 7px;
}

.bg-primary {
    background-color: #8280FD !important;
    border-radius: 50px;
    padding: 17px 24px;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
}

.border-20{
border-radius: 20px;
}

.container {
    position: relative;
    height: 130px;
  }
  
  .centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

 
  td{
    text-align: center;
    padding: 30px;
    
}
th{
    text-align: center;
}

.rd-50{
    border-radius: 50%;
    margin-left: 4px;
}

.bg-success {
    background-color: #67CF94 !important;
    }

    .bg-danger{
        background-color: #D66B53 !important;
    }

    .bg-danger:hover{
        background-color: #BA472E !important;
    }

    .bg-success:hover{
        background-color: #1BB71B !important;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545 !important;
        }