*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.form-control {
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 7px;
}

.bg-primary {
    background-color: #8280FD !important;
    border-radius: 50px;
    padding: 17px 24px;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
}

.border-20{
border-radius: 20px;
}

.container {
    position: relative;
    height: 130px;
  }
  
  .centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

 
  td{
    text-align: center;
    padding: 30px;
    
}
th{
    text-align: center;
}

.rd-50{
    border-radius: 50%;
    margin-left: 4px;
}

.bg-success {
    background-color: #67CF94 !important;
    }

    .bg-danger{
        background-color: #D66B53 !important;
    }

    .bg-danger:hover{
        background-color: #BA472E !important;
    }

    .bg-success:hover{
        background-color: #1BB71B !important;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545 !important;
        }

        .wallet-total-balance  {
            color: #61cb93;
            font-size: 30px;
            font-weight: 700;
        }