<div class="container">
    <br>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Owies Alomari</h4>
                                <p class="text-secondary mb-1">Owies.omari3@gmail.com</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <h3 style="margin-right: 20px;margin-top: 20px;">روابط المتاجر</h3><br>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">شوبيفاي</h6>
                            <span class="text-secondary">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">فيسبوك</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">انستجرام</h6>
                            <span class="text-secondary">@bootdey</span>
                        </li>
                    </ul>
                </div>
                <br>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <h3>احصائيات المسوق</h3>
                            <br><br>
                            <div class="col-sm-9">

                                <i class="bi bi-bar-chart-line-fill wallet-icon"></i>
                                <span class="wallet-span">اجمالي المبيعات:</span>

                            </div>
                            <div class="col-sm-3 text-secondary">
                                <span class="wallet-value" id="total">25 د.أ</span>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9">
                                <i class="bi bi-graph-up wallet-icon"></i> <span class="wallet-span">اجمالي
                                    الارباح:</span>

                            </div>
                            <div class="col-sm-3 text-secondary wallet-value">
                                <span class="wallet-value" id="total">25 د.أ</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9">
                                <i class="bi bi-wallet2 wallet-icon"></i> <span class="wallet-span">اجمالي الرصيد
                                    المتاح:</span>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <span class="wallet-value" id="total">25 د.أ</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>تفاصيل الحساب</h3>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">الاسم</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">الدولة</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">المدينة</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">المنطقة</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">العنوان 1</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">العنوان 2</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">الرمز البريدي</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">الشركة</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">رقم الهاتف </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">البريد الاكتروني</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row gutters-sm">

                    <div class="col-sm-12 mb-3">

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <h3>المعاملات المالية</h3><br><br>
                                    <div class="col-sm-9">

                                        <i class="bi bi-bar-chart-line-fill wallet-icon"></i>
                                        <span class="wallet-span">اجمالي المبيعات:</span>

                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        <span class="wallet-value" id="total">25 د.أ</span>

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="bi bi-graph-up wallet-icon"></i> <span class="wallet-span">اجمالي
                                            الارباح:</span>

                                    </div>
                                    <div class="col-sm-3 text-secondary wallet-value">
                                        <span class="wallet-value" id="total">25 د.أ</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="bi bi-wallet2 wallet-icon"></i> <span class="wallet-span">اجمالي
                                            الرصيد
                                            المتاح:</span>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        <span class="wallet-value" id="total">25 د.أ</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>