<div class="container-fluid">
    <div class="container-fluid search_div" id="contentContainer" style="display: none;">
        <div class="search" style="margin-top: 35px">
            <h2>البحث السريع</h2>
            <div class="input-group margin-top-xl">
                <input style="background-color: #f0f0f0;" type="text" class="form-control" id="searchField"
                    placeholder="ادخل كلمات البحث هنا" aria-label="search" aria-describedby="basic-addon2"
                    (keyup)="filterTable($event)">
            </div>
        </div>
        <br>
        <h3 style="text-align: center; color:#727272; margin-top: 16px;" *ngIf="isProductsEmpty()">لا يوجد منتجات </h3>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped" style="margin-top: 20px;">

            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"># </th>
                <td mat-cell *matCellDef="let element"> {{getProductNumber(element)}} </td>
            </ng-container>

            <ng-container matColumnDef="الصورة">
                <th mat-header-cell *matHeaderCellDef> الصورة</th>
                <td mat-cell *matCellDef="let element"> <img
                        src="data:{{element.images[0].type}};base64,{{element.images[0].image}}" width="50" height="50"
                        style="border-radius: 50%"> </td>
            </ng-container>

            <ng-container matColumnDef="الاسم">
                <th mat-header-cell *matHeaderCellDef>الاسم</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="التصنيف">
                <th mat-header-cell *matHeaderCellDef> التصنيف </th>
                <td mat-cell *matCellDef="let element"> {{getCategoriesNames(element.categories)}} </td>
            </ng-container>

            <ng-container matColumnDef="سعر التكلفة">
                <th mat-header-cell *matHeaderCellDef> سعر التكلفة</th>
                <td mat-cell *matCellDef="let element"> {{element.costPrice}} د.أ </td>
            </ng-container>

            <ng-container matColumnDef="المخزون">
                <th mat-header-cell *matHeaderCellDef> المخزون</th>
                <td mat-cell *matCellDef="let element"> {{element.stock}}</td>
            </ng-container>

            <ng-container matColumnDef="حالة المنتج">
                <th mat-header-cell *matHeaderCellDef>حالة المنتج</th>
                <td mat-cell *matCellDef="let element"> <span class="status"
                        [ngStyle]="{'background-color':getStatusColor(element.active)}">{{getStatusMsg(element.active)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="تاريخ الاضافة">
                <th mat-header-cell *matHeaderCellDef> تاريخ الاضافة</th>
                <td mat-cell *matCellDef="let element"> منذ سنه </td>
            </ng-container>


            <ng-container matColumnDef="الاجراءات">
                <th mat-header-cell *matHeaderCellDef> الاجراءات </th>
                <td mat-cell *matCellDef="let element">

                    <span><button title="تعديل المنتج" class="btn btn-small bg-success rd-50"
                            [routerLink]="['/editProduct',element.sku]"><i class="bi bi-pencil"></i>
                        </button></span>
                    <span *ngIf="element.active"><button class="rd-50 btn btn-small bg-danger"
                            (click)="changeToNotActive(element)"><i class="bi bi-eye-slash"
                                (click)="changeToNotActive(element)"></i></button></span>

                    <span *ngIf="!element.active"><button class="rd-50 btn btn-small bg-warning"
                            (click)="changeToActive(element)"><i class="bi bi-eye" click)="changeToActive(element)">
                            </i></button></span>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>