<app-sidenav *ngIf="cacheManager.isLogin"></app-sidenav>
<app-navbar *ngIf="!cacheManager.isLogin"></app-navbar>
<div class="alert" id="alertDiv"
    style="display: none; padding: 16px;position:fixed;z-index: 1; color: white; background-color: #67CF94 !important;width: 300px;">
    <h4 id="alertTitle"></h4>
    <p id="alertText"></p>
</div>
<router-outlet></router-outlet>
<br>

<div style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;" id="spinner">
    <div class="spinner-border text-danger" role="status" style="padding:20px">
    </div>
</div>