.main-content {
    min-height: calc(100vh - 190px);
    margin-left: 275px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin-top: 120px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pb-2, .py-2 {
    padding-bottom: 0.5rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.mb-40 {
    margin-bottom: 40px;
}

.withdraw-balance-card {
    text-align: center;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.withdraw-balance-card .card-body p.min-amount {
    margin-bottom: 10px;
}

p:last-child {
    margin: 0;
}

font-bold {
    font-weight: 700;
}

.green-text {
    color: #28a745;
}

.w-100 {
    width: 100%!important;
}

.profile-pic {
    position: relative;
    width: 220px;
    height: 250px;
    margin-top: -164px;
}

.wallet-info .total-balance {
    background: #eee;
    padding: 15px;
    text-align: center;
}

.border-none {
    border: none!important;
}

.p-0 {
    padding: 0!important;
}

.m-0 {
    margin: 0!important;
}

table {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.wallet-info table tr:first-child {
    font-weight: 700;
}

table tr:not(:last-child) td {
    border-bottom: 1px solid #F5F5F5;
}

table tbody td {
    border-top: 0;
}

table th, table td {
    padding: 16px;
}

table td {
    color: #727272;
}

.phone {
    direction: ltr;
    unicode-bidi: embed;
}

.wallet-info .total-balance p {
    color: #ce0000;
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0;
}

.mt-20{
    margin-top: 20px;
}

#idButton {
    background-color: #fff;
    border: 1px solid red;
    color: #ce0000;
}

#idButton:hover {
    background-color: #ce0000 !important;
    color: #fff !important;
}