
<!--content-->
<section class="landing-banner">
    <div class="container">
        <div class="contents row">

            <div class="col-md-7 align-self-center">
                <h1><b>ابدأ مشروعك اليوم في التجارة الإلكترونية مجاناً</b></h1>
                <p>كل ما تحتاجه للبدء في التجارة الإلكترونية أصبح بين يديك<br>منتجات بسعر الجملة | دفع ما بعد البيع
                    في متجرك | شحن | التحصيل من العملاء</p>
                <div class="row">
                    <div class="col-12 text-center">
                        <a  class="get-started btn" (click)="navigateToSignup()"><b> إشترك الآن </b></a>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <img id="man" src="https://dropphi.com/front/img/lab-intro.png" alt="" sizes="" srcset="">
            </div>

        </div>
    </div>
</section>

<div class="drop-ship">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="drop">
                    <h2><b>عن دروبفاي</b></h2>
                    <p style="font-size: 18px;">دروبفاي هي منصة إلكترونية تساعدك لتبدأ مشروعك الإلكتروني بدون رأس
                        مال ، كل ما عليك هو أن تنشئ صفحة أو متجر إلكتروني،
                        و نحن سنزودك بكافة المنتجات من أفضل الموردين في الأردن و نضمن لك شحن وتغليف ممتاز للطلبات
                        وتحصيل المبالغ من الزبون</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="client-speak our-features padding-lg " id="features">

    <div class="container ">

        <div class="row justify-content-center head-block">
            <div class="col-md-10">
                <h2>العديد من المميزات لك تقدم<br>أفضل الخدمات لعملائك</h2>
            </div>
        </div>

        <ul class="row features-listing">
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature1.svg"
                            width="60%"></span>
                    <h3><b>منتجات بسعر جملة</b></h3>
                    <p>دروبفاي ترشدك لأكثر المنتجات مبيعا على شبكة الإنترنت وتقدمها لك بسعر جملة من أول قطعة مما
                        سيزيد من فرصة تحقيق هامش ربح أكبر في البيع</p>
                </div>
            </li>
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature2.svg"
                            width="60%"></span>
                    <h3><b>تصوير احترافي للمنتجات</b></h3>
                    <p>تقدم دروبفاي صور احترافية لجميع المنتجات من مختلف الزوايا وخلفية سادة مريحة للعين حتى يتميز
                        متجرك واعلانك ، و ستزيد الصور الإحترفية فرصك في البيع</p>
                </div>
            </li>
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature3.svg"
                            width="60%"></span>
                    <h3><b>سرعة توصيل وشحن</b></h3>
                    <p>دروبفاي متعاقدة مع أكبر شركات شحن في الأردن عشان نضمن جودة وسرعة ونسب توصيل عالية لطلباتك</p>
                </div>
            </li>
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature4.svg"
                            width="60%"></span>
                    <h3><b>منتجات رابحة</b></h3>
                    <p>اختارت دروبفاي كاتالوج منتجاتها حسب دراسة السوق بعناية على حسب أكثر المنتجات طلبا اونلاين
                        وبهوامش ربح جيدة وسهلنا عليك عملية البحث عن منتجات مطلوبة أونلاين في الأردن.</p>
                </div>
            </li>
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature5.svg"
                            width="60%"></span>
                    <h3><b>مخازن و تغليف المنتجات</b></h3>
                    <p>دروبفاي تقدم خدمة مخازن للمنتجات حتى ما تتكلف بإجار للمخزن وعمال وتغليف للمنتجات .</p>
                </div>
            </li>
            <li class="col-md-4">
                <div class="inner"> <span class="icon"><img src="https://dropphi.com/storage/features/feature6.svg"
                            width="60%"></span>
                    <h3><b>تحصيل المبيعات من العميل</b></h3>
                    <p>تقوم دروبفاي بتحصيل المبيعات من عميلك وبإمكانك سحب أرباحك بعدة طرق ( حساب بنكي او محفظتك
                        الالكترونية او عن طريق ويسترن يونيون )</p>
                </div>
            </li>
        </ul>
    </div>

</section>

<div class="dropphi-different">
    <div class="container ">
        <h2 class="hh2" style="padding:10px"><b>لماذا عليك البدء في التجارة الإلكترونية اليوم ؟</b> </h2>
        <div class="row">
            <div class="col">
                <div class="tabs-vertical">
                    <ul>
                        <li class="active" rel="tab-1">
                            <div class="text-div">
                                <h4 class="hh4">النمو هائل</h4>
                                <p class="parg"> أصبحت التجارة الالكترونية قوة رئيسية في الاقتصاد العالمي، تشير
                                    العديد من التوقعات إلى أن نمو التجارة الإلكترونية خلال هذا العام 2021 سوف يكون
                                    بنسبة 56%، على العكس من التجارة التقليدية التي من المتوقع أن تصل إلى نسبة 2%.
                                </p>
                            </div>
                        </li>

                        <li class="active" rel="tab-1">
                            <div class="text-div">
                                <h4 class="hh4">القدرة على الكسب طوال الوقت</h4>
                                <p class="parg"> تُمكنك التجارة الإلكترونية من تحقيق الأرباح والمكاسب سواء كنت
                                    مستيقظاُ أو نائماً،
                                    ففي التجارية الإلكترونية سوف تعمل من خلال واجهة متجر واحدة لمختلف دول العالم،
                                    بينما في التجارة التقليدية فأنت بحاجة لفتح عدد كبير من المتاجر ومنافذ البيع</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--من نحن-->
<section class="inner-banner pricing-banner" id="aboutUs">
    <h1>من نحن</h1>
</section>

<section class="who-we-are padding-lg">
    <div class="container">
        <div class="row row1">

            <div class="col-lg-4">
                <figure><img src="https://dropphi.com/front/img/who-we-are.png" class="img-fluid" alt=""></figure>
            </div>

            <div class="col-lg-8">
                <div class="cnt-block">
                    <div class="page-content">
                        <h1><strong>عن دروبفاي</strong></h1>

                        <p>دروبيفاي هي منصة الكترونية تساعدك لتبدأ مشروعك الإلكتروني بدون رأس مال ،ما عليك الا ان تنشئ
                            صفحة او متجر الكتروني ونحن نزودك بكافة المنتجات من أفضل المودرين في الأردن بالإضافة الى شحن
                            وتغليف مضمون للطلبات وتحصيل ارباحك من العميل</p>

                        <h1><strong>هدفنا</strong></h1>

                        <p>مساعدة الشباب ورواد الأعمال في الأردن لتأسيس مشاريعهم في التجارة الإلكترونية&nbsp;</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--نهايه من نحن-->

<div class="dropshoping-work">
    <div class="container">

        <div class="row" style="margin-top: 60px;">

            <div class="col-sm-12">
                <h2 class="hshop"><b>كم يمكنك الربح مع دروبفاي ؟</b> </h2>
                <h4 class="h4shop">استخدم حاسبة أرباح التجارة الإلكترونية لتتوقع أرباحك الشهرية اللي ممكن تحققها
                    معنا !</h4>
            </div>

            <div class="col-sm-7 offset-sm-1 calculator-body">

                <div class="slider-section">
                    <div class="slider-section-header d-flex justify-content-between align-items-center">
                        <h3>سعر الجملة للمنتج (د.أ)</h3>
                        <span class="average-sales">1 د.أ</span>
                    </div>
                    <!--range-->
                    <div class="slider">
                        <input type="range" id="fader" list="volsettings">
                        <datalist id="volsettings">

                            <option value="1" label="1"></option>
                            <option value="20" label=""></option>

                            <option value="40" label="40"></option>
                            <option value="60" label=""></option>

                            <option value="80" label="80"></option>
                            <option value="100" label=""></option>

                            <option value="120" label="120"></option>
                            <option value="140" label=""></option>

                            <option value="160" label="160"></option>
                            <option value="180" label=""></option>
                            <option value="200" label="200"></option>


                        </datalist>
                    </div>
                    <!--end-range-->

                    <div class="slider-section">
                        <div class="slider-section-header d-flex justify-content-between align-items-center">
                            <h3>نسبة الربح على المنتج</h3>
                            <span class="earnings-percentage">10%</span>
                        </div>
                        <!--range-->
                        <div class="slider">
                            <input type="range" id="fader" list="volsettings">
                            <datalist id="volsettings">
                                <option value="10" label="10"></option>
                                <option value="20" label=""></option>

                                <option value="60" label="60"></option>
                                <option value="70" label=""></option>

                                <option value="120" label="120"></option>
                                <option value="130" label=""></option>

                                <option value="180" label="180"></option>
                                <option value="190" label=""></option>

                                <option value="240" label="240"></option>
                                <option value="250" label=""></option>

                                <option value="300" label="300"></option>


                            </datalist>
                        </div>
                        <!--end-range-->

                        <div class="slider-section">
                            <div class="slider-section-header d-flex justify-content-between align-items-center">
                                <h3>المبيعات الشهرية من المنتج</h3>
                                <span class="monthly-sales">1</span>
                            </div>
                            <!--range-->
                            <div class="slider">
                                <input type="range" id="fader" list="volsettings">
                                <datalist id="volsettings">
                                    <option value="1" label="1"></option>
                                    <option value="10" label=""></option>

                                    <option value="200" label="200"></option>
                                    <option value="300" label=""></option>

                                    <option value="400" label="400"></option>
                                    <option value="500" label=""></option>

                                    <option value="600" label="600"></option>
                                    <option value="700" label=""></option>

                                    <option value="800" label="800"></option>
                                    <option value="900" label=""></option>

                                    <option value="1000" label="1000"></option>


                                </datalist>
                            </div>
                            <!--end range-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 calculator-sidebar">
                <div class="card">
                    <div class="card-body">
                        <h4 class="h4card">متوسط أرباحك الشهرية:</h4>
                        <p class="earnings">0.10 د.أ</p>
                        <p class="fee">* لا توجد حدود - كل ما تحتاجه هو أن تبدأ فقط *</p>
                        <p class="note">تريد أن تعرف كيف تحصل على هذا الربح ؟</p>
                        <a href="https://dropphi.com/register" class="btn1 btn-red btn-block  shadow ">اشترك
                            الآن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="still-hav-qtns-outer " style="background-color: white;">

    <div class="container">
        <h2><b>كيف تبدا العمل مع دروبفاي ؟</b> </h2>

        <ul class="row features-listing">
            <li class="col-md-3">
                <div class="info-content">
                    <span class="icon-holder"><img src="https://dropphi.com/front/img/work1.svg" alt=""></span>
                    <h3>الخطوة الاولى</h3>
                    <p class="paragraph">اختر المنتجات المناسبة لك للتسويق من صفحة كتالوج المنتجات
                        واضفها الى منتجاتي</p>
                </div>
            </li>

            <li class="col-md-3 equal-hight">
                <div class="info-content">
                    <span class="icon-holder"><img src="https://dropphi.com/front/img/work2.svg" alt=""></span>
                    <h3>الخطوة الثانيه</h3>
                    <p class="paragraph">اعرض صور هذه المنتجات على صفحتك او على متجرك </p>
                </div>
            </li>
            <li class="col-md-3 equal-hight">
                <div class="info-content"> <span class="icon-holder"><img src="https://dropphi.com/front/img/work3.svg"
                            alt=""></span>
                    <h3>الخطوة الثالثه</h3>
                    <p class="paragraph">اطلب المنتجات الي طلبها عميلك من صفحة منتجاتي</p>
                </div>
            </li>

            <li class="col-md-3 equal-hight">
                <div class="info-content"> <span class="icon-holder"><img src="https://dropphi.com/front/img/work4.svg"
                            alt=""></span>
                    <h3>الخطوة الرابعه</h3>
                    <p class="paragraph"> ادخل الى سلة المشتريات وضيف سعر البيع القطع الي بعتها لعميلك
                        وأضف معلومات شحن عميلك</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!--اتصل بنا-->
<section class="inner-banner pricing-banner" id="contactUs">
    <h1>اتصل بنا</h1>
</section>

<section class="contact-wrapper-outer">
    <div class="container">
        <div class="row">


            <div class="col-md-8 form-area">
                <div class="contact-form-wrapper padding-lg">

                    <form method="POST" action="https://dropphi.com/contact/send" name="contact-form" id="ContactForm">
                        <input type="hidden" name="_token" value="GVMFLEuftj6EFP9A2SYaxAdg2WrCnxr8M3RSx5TM">
                        <div class="row">
                            <div class="col-md-6 input-col">
                                <label>الإسم *</label>
                                <input name="name" placeholder="" type="text" required="">
                            </div>

                            <div class="col-md-6 input-col">
                                <label>البريد الالكتروني *</label>
                                <input name="email" placeholder="" type="text" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 input-col">
                                <label>رقم الهاتف *</label>
                                <input name="mobile" placeholder="" type="text" required="">
                            </div>

                            <div class="col-md-6 input-col">
                                <label>عنوان الرسالة *</label>
                                <input name="subject" placeholder="" type="text" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>الرسالة *</label>
                                <textarea name="message" placeholder="" required=""></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn submit">أرسل</button>
                            </div>

                            <div class="col-md-12">
                                <div class="msg"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-info-wrapper padding-lg">
                    <div class="contact-info">

                        <h3>معلومات التواصل </h3>

                        <ul class="info-contact-box">
                            <li>
                                <h6><i class="fa fa-location-arrow"></i> الموقع</h6>
                                <p>الأردن، إربد</p>
                            </li>

                            <li>
                                <h6> <i style="color:red" class="fa fa-envelope"></i> support@dropphi.com </h6>
                            </li>
                        </ul>
                    </div>

                    <div class="social-media-box">
                        <h6><span>تواصل من خلال</span></h6>
                        <ul>
                            <li><a href="https://www.facebook.com/Dropphi"><i class="fa fa-facebook"
                                        style="color:red"></i></a></li>
                            <li><a href="https://www.instagram.com/dropphii/"><i class="fa fa-instagram"
                                        style="color:red"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- نهايه اتصل بنا-->

<section class="wht-can-we-do-outer padding-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 content-area">
                <h2><b>الأسئلة الشائعة عن دروبفاي واجابتها</b> </h2>
            </div>
        </div>

        <div class="career-accordian faq">
            <div id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="heading0"> <a class="adecor" data-toggle="collapse"
                            href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            <h3 class="hhover">كيف أبدأ العمل اليوم مع دروبفاي ؟ </h3>
                            <i class="arrow down"></i>
                        </a>
                    </div>
                    <div id="collapse0" class="collapse" role="tabpanel" aria-labelledby="heading0"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p class="paragraph">بعد تسجيل حساب جديد مع دروبيفاي تكون قد سجلت تلقائيا في الباقة
                                المجانية, وتصبح كل خدمات دروبفاي متاحة امامك (منتجات _شحن _تغليف _تحصيل)</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading1"> <a data-toggle="collapse" href="#collapse1"
                            aria-expanded="true" aria-controls="collapse1">
                            <h3 class="hhover">كيف أستلم أرباحي من دروبفاي ؟ </h3>
                            <i class="arrow down"></i>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p class="paragraph">بإمكانك استلام أرباحك من دروبفاي بعد ٢٤ ساعة من استلام الزبون للطلب عبر
                                واحدة من
                                الطرق التالية ( البنك ، المحافظ الالكترونية ، ويسترن يونيون)</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading2"> <a data-toggle="collapse" href="#collapse2"
                            aria-expanded="true" aria-controls="collapse2">
                            <h3>هل أحتاج لبطاقة الدفع الالكتروني للبدء بالعمل ؟</h3>
                            <i class="arrow down"></i>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p class="paragraph">أنت لا تحتاج لبطاقات الكترونية يمكنك العمل من خلال الباقة المجانية و
                                لكنها ستلزمك إذا
                                أردت العمل من خلال الباقات المدفوعة</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading3"> <a data-toggle="collapse" href="#collapse3"
                            aria-expanded="true" aria-controls="collapse3">
                            <h3>هل سأحصل على مساعدتكم في عملية التسويق ؟ </h3>
                            <i class="arrow down"></i>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p class="paragraph">طبعا ، سنساعدك بطريقتين ، <br> الطريقة الأولى: نقدم لك صور احترافية من
                                خلال موقعنا
                                لعرضها على صفحتك او متجرك <br> الطريقة الثانية: نقدم لك مقالات متخصصة في التسويق
                                الالكتروني <br> والمتاجر الالكترونية عبر مدونتنا</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading4"> <a data-toggle="collapse" href="#collapse4"
                            aria-expanded="true" aria-controls="collapse4">
                            <h3>ماذا لو كان في عيب في المنتج المباع ؟ </h3>
                            <i class="arrow down"></i>
                        </a>
                    </div>
                    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4"
                        data-parent="#accordion">
                        <div class="card-body">
                            <p class="paragraph">كل المنتجات المباعة من خلال شبكة الموردين الخاصة بنا عليها ضمان استبدال
                                واسترجاع في
                                حالة عيوب الصناعة لمدة 7 يوم من تاريخ تسليم الطلب</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:FAQ accordion -->
        </div>
    </div>
</section>

<div class="call-action-bar blue mb-5" style="margin-bottom:0px !important ;">

    <div class="container">
        <h2><span><b>اشترك بنشرتنا الاخبارية </b></span></h2>
        <div class="_form_1"></div>
        <script src="https://dropphi98933.activehosted.com/f/embed.php?id=1" type="text/javascript"
            charset="utf-8"></script>
    </div>

</div>

<!--footer-->

<div class="row">
    <div class="col-md-12">
        <footer class="footer-bg">
            <div class="container py-5">
                <div class="row py-4">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="./drop.png" alt="" width="180" class="mb-3">
                        <p class="font-italic text-muted">منصة إلكترونية أردنية تدعم الشباب الأردني الطموح للبدء بالعمل
                            في التجارة الإلكترونية بدون رأس مال</p>

                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 ">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi">دروبفاي </h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="https://dropphi.com/about" class="text-muted">من نحن</a></li>
                            <li class="mb-2 features-scroll"><a href="https://dropphi.com#features"
                                    class="text-muted">الميزات </a></li>
                            <li class="mb-2"><a href="https://blog.dropphi.com" class="text-muted">المدونة</a></li>
                            <li class="mb-2"><a href="https://dropphi.com/contact" class="text-muted">اتصل بنا</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi">الشركة</h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="https://dropphi.com/privacy-policy"
                                    class="text-muted text-light">سياسة الخصوصية</a></li>
                            <li class="mb-2"><a href="https://dropphi.com/terms-and-conditions"
                                    class="text-muted text-light">الشروط والاحكام</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi1">تابعنا على مواقع التواصل
                            الاجتماعي </h6>
                        <ul class="list-inline mt-4">
                            <li class="list-inline-item ml-2"><a href="https://www.facebook.com/Dropphi" target="_blank"
                                    title="twitter"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li class="list-inline-item ml-2"><a href="https://www.instagram.com/dropphii/"
                                    target="_blank" title="twitter"><i class="fa fa-instagram fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Copyrights -->
            <div style="background-color: #ebe0d1;padding-top: 0px !important;padding-bottom: 2px !important;">
                <div class="container px-4 d-flex justify-content-between">
                    <div>
                        <div class="text-left">
                            <p class="text-muted mb-0 py-2">©جميع الحقوق محفوظه لصالح دروبفاي</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="https://dropphi.com/assets/img/media/mastercard.png" title="mastercard">
                        <img src="https://dropphi.com/assets/img/media/visa.png" title="visa">
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <!--endfooter-->
</div>