<div style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%); ">
    <div style="text-align: center">
        <img src="../../../assets/sucess.png" width="300" height="300"><br>
        <br><br>
        <h3>شكرا لك</h3>
        <h4 class="text-muted">تم ارسال طلبك بنجاح سيتم مراجعته والرد عليك من قبل المشرفين </h4>
        <button class="bttn margin-top-xl" (click)="navigateToCatalogs()">موافق</button>
    </div>
</div>
<style>
    .bttn {
        background-color: #8280FD !important;
        padding: 5px;
        font-weight: 700;
        line-height: 1;
        font-size: 23px;
        position: relative;
        opacity: .9;
        height: 50px;
        width: 190px;
        cursor: pointer;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .bttn:hover {
        background-color: #0062cc !important;
    }
</style>