table {
    width: 100%;
}

td {
    width: 140px;
    text-align: center;
}

th {
    text-align: center !important;
}

.status {
    border-radius: 20px;
    color: #fff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545 !important;
}

.bg-danger:hover {
    background-color: #BA472E !important;
}

.bg-success:hover {
    background-color: #1BB71B !important;
}

.bg-success {
    background-color: #67CF94 !important;
}

.bg-danger {
    background-color: #FC7383 !important;
}

.rd-50 {
    border-radius: 50%;
    margin-left: 4px;
}

.sat {
    font-size: 12px;
    line-height: 1;
    padding: 4px 12px;
    border-radius: 20px;
    color: #fff;
}

#filter{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}