

#tab {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.form-control {
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 7px;
}

button {
    margin-right: 5px;
}

.pending {
    background-color: #FC7383;
}

.waiting {
    background-color: #FFB959;
}

.family {
    background-color: #67CFA2;
}

.cancelled {
    background-color: #CE0000;
}

.status-btn {
    border-radius: 100px;
    border: 1px solid darkgrey;
    padding: 10px;
    font-size: 12px;
    width: 100px;
    margin-bottom: 4px;
}

.filter-button {
    border-radius: 100px;
    border: 1px solid blue;
    padding: 10px;
    font-size: 12px;
    width: 100px;
    margin-bottom: 4px;
}

.status-btn:hover {
    border: 1px solid red;
    background-color: #fff;
    color: red;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545 !important;
}

.bg-danger:hover {
    background-color: #BA472E !important;
}

.bg-success:hover {
    background-color: #1BB71B !important;
}

.prodTable {
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: #87B2ED !important;
}

label{
    font-weight: 700;
}

.rd-50{
    border-radius: 50%;
    margin-left: 4px;
}