<div style="padding: 20px; display: none;" id="content">

    <h2>قائمة الطلبات</h2>
    <div id="content margin-top-l">
        <div id="tab">
            <h2>الفرز</h2>
            <div class="margin-top-xl" id="combo-tags">
                <div class="margin-top-xl">
                    <h2></h2>
                    <div class="col-md-8 margin-top-xl">
                        <div class="btn btn-primary-group flex-wrap" role="group" aria-label="Basic example"
                            id="buttons">
                            <div style="display: inline-block">
                                <button style="background-color:#ce0000 ;" type="button"
                                    class="filter-button btn btn-primary idButton" id="all"
                                    (click)="filterCategoty($event)"><img id="all" class="combo-icon"
                                        (click)="filterCategoty($event)" src="../../../assets/ic_all.png"></button>
                                <p>الكل</p>
                            </div>
                            <div style="display: inline-block">
                                <button type="button" class="filter-button btn btn-primary idButton"
                                    (click)="filterCategoty($event)" id="pending"><img (click)="filterCategoty($event)"
                                        id="pending" class="combo-icon" src="../../../assets/ic_loading.png"></button>
                                <p>معلقة</p>
                            </div>

                            <div style="display: inline-block">
                                <button type="button" class="filter-button btn btn-primary idButton"
                                    (click)="filterCategoty($event)" id="tajheez"><img (click)="filterCategoty($event)"
                                        id="tajheez" class="combo-icon" src="../../../assets/ic_box.png"></button>
                                <p>قيد التجهيز</p>
                            </div>

                            <div style="display: inline-block">
                                <button type="button" class="filter-button btn btn-primary idButton"
                                    (click)="filterCategoty($event)" id="progress"><img (click)="filterCategoty($event)"
                                        id="progress" class="combo-icon" src="../../../assets/ic_delevary.png"></button>
                                <p>قيد التسليم</p>
                            </div>

                            <div style="display: inline-block">

                                <button type="button" class="filter-button btn btn-primary idButton"
                                    (click)="filterCategoty($event)" id="completed"><img
                                        (click)="filterCategoty($event)" id="completed" class="combo-icon"
                                        src="../../../assets/ic_completed.png"></button>
                                <p>مكتملة</p>
                            </div>

                            <div style="display: inline-block">

                                <button type="button" class="filter-button btn btn-primary idButton"
                                    (click)="filterCategoty($event)" id="cancled"><img id="cancled" class="combo-icon"
                                        (click)="filterCategoty($event)" src="../../../assets/ic_cancled.png"></button>
                                <p>ملغية</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <label for="daysFilter">فرز حسب التاريخ</label>
                    <select id="daysFilter" class="effect-9" style="margin-right: 10px;width:50%;height:40px"
                        (change)="filterDate($event)">
                        <option value="none"></option>
                        <option value="today">اليوم</option>
                        <option value="yestarday">الامس</option>
                        <option value="lastweek">اخر 7 ايام</option>
                        <option value="lastmonth">اخر شهر</option>
                        <option value="custom">نطاق مخصص</option>
                    </select>
                </div>

                <div class="col-md-6"></div>

            </div>
            <br>
            <div class="row margin-top-xl">
                <label for="orderNumber">الوصول السريع للطلب</label>
                <input class="effect-9 col-md-5 margin-top-s" type="text" style="width: 26%;border-radius: 10px;"
                    id="orderNumber" placeholder=" ادخل اسم العميل" (keyup)="filterTable($event)">
            </div>
            <div class="row prodTable margin-top-xl">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">رقم الطلب</th>
                                <th scope="col">تاريخ الطلب</th>
                                <th scope="col">اسم العميل</th>
                                <th scope="col">الإجمالي</th>
                                <th scope="col">رابط الشحنة</th>
                                <th scope="col">طريقة الدفع</th>
                                <th scope="col">عدد المنتجات</th>
                                <th scope="col">الحالة</th>
                                <th scope="col">الاجراءات </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of tempOrders">
                                <td>{{x.orderNumber}}</td>
                                <td>{{x.orderDate}}</td>
                                <td>{{x.customerName}}</td>
                                <td>{{x.totalPrice}}</td>
                                <td>
                                    <span *ngIf="x.orderLink=='' || x.orderLink==null">لا يوجد</span>
                                    <a *ngIf="x.orderLink!='' && x.orderLink!=null" [href]="x.orderLink" target="_blank"
                                        class="url"><i class="bi bi-box-arrow-up-right"></i></a>
                                </td>
                                <td>{{x.paymentMethod}}</td>
                                <td>{{x.productsCount}}</td>
                                <td><span [ngStyle]="{'background-color':getCellColor(x.orderStatus)}"
                                        class="status sat">{{x.orderStatus}}</span></td>

                                <td><span><button class="btn btn-small bg-success rd-50"
                                            [routerLink]="['/orderdeatils',x.orderNumber]"><i class="bi bi-eye"></i>
                                        </button></span>
                                    <span *ngIf="x.orderStatus!='CANCELLED'"><button (click)="openModal($event)"
                                            [id]="x.orderNumber" class="rd-50 btn btn-small bg-danger"><i
                                                (click)="openModal($event)" [id]="x.orderNumber"
                                                class="bi bi-trash"></i></button></span>

                                    <span *ngIf="x.orderStatus=='CANCELLED'"><button style="visibility: hidden;"
                                            class="rd-50 btn btn-small bg-danger"><i
                                                class="bi bi-trash"></i></button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Cancle Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    style="width: 100%">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row" style="padding: 10px">
                    <h3 style="font-weight: 600;">الغاء الطلب #<span id="c_orderNumber">123</span></h3>
                    <p class="text-muted">سبب الالغاء</p>
                    <textarea class="r_textarea" placeholder="يرجى ادخال سبب الاغاء هنا" rows="3" id="r_ca_modal"></textarea>
                </div>

                <div class="margin-top-xl">
                    <input type="button" class="btn c_btn modal-btns margin-left-m" value="الغاء الان"
                        (click)="cancelOrder()">
                    <!--api call-->
                    <input type="button" class="btn modal-btns close_btn" [id]="" (click)="closeModal()" value="إغلاق">
                </div>
            </div>
        </div>
    </div>
</div>