<div style="padding: 20px;">

    <h2>قائمة الطلبات</h2>
    <div id="content margin-top-l">
        <div id="tab">
            <div class="row">
                <label>الحالة</label>
                <div class="col-md-6 col-sm-6 margin-top-s">
                    <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                        <button type="button" class=" status-btn col-md-1" style="background-color: #fff">الكل</button>
                        <button type="button" class=" pending status-btn  col-md-1">معلقه</button>
                        <button type="button" class=" waiting status-btn  col-md-1">قيد التسليم</button>
                        <button type="button" class=" family status-btn  col-md-1">مكتملة </button>
                        <button type="button" class=" cancelled status-btn  col-md-1">ملغية </button>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row margin-top-xl">
                <label>فرز حسب</label>

                <div class="col-md-6 margin-top-s">
                    <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                        <button type="button" class=" filter-button  btn-primary ">اليوم</button>
                        <button type="button" class="filter-button  btn-primary ">الامس</button>
                        <button type="button" class="filter-button  btn-primary ">اخر 7ايام</button>
                        <button type="button" class="filter-button  btn-primary "> يوم30يوم</button>
                        <button type="button" class="filter-button  btn-primary ">هذا الشهر </button>
                        <button type="button" class="filter-button  btn-primary ">اخر شهر</button>
                        <button type="button" class="filter-button  btn-primary ">نطاق مخصص</button>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row margin-top-xl">
                <label for="orderNumber">الوصول السريع للطلب</label>
                <input class="effect-9 col-md-5 margin-top-s" type="text" style="width: 300px;border-radius: 10px;"
                    id="orderNumber" placeholder=" ادخل اسم العميل" (keyup)="filterTable($event)">
            </div>
            <div class="row prodTable margin-top-xl">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">رقم الطلب</th>
                                <th scope="col">تاريخ الطلب</th>
                                <th scope="col">اسم العميل</th>
                                <th scope="col">الإجمالي</th>
                                <th scope="col">رابط الشحنة</th>
                                <th scope="col">طريقة الدفع</th>
                                <th scope="col">عدد المنتجات</th>
                                <th scope="col">الحالة</th>
                                <th scope="col">الاجراءات </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of tempOrders" ngInit>
                                <td>{{x.getID()}}</td>
                                <td>{{x.getDate()}}</td>
                                <td>{{x.getCustomerName()}}</td>
                                <td>{{x.getTotal()}}</td>
                                <td> <a [href]="x.geturl()" target="_blank" class="url"><i class="bi bi-box-arrow-up-right"></i></a></td>
                                <td>{{x.getPaymentMethod()}}</td>
                                <td>{{x.getQuantity()}}</td>
                                <td><span [ngStyle]="{'background-color':x.getCellColor()}"
                                        class="status sat">{{x.getStatus()}}</span></td>

                                <td><span><button class="btn btn-small bg-success rd-50"><i class="bi bi-eye"></i>
                                        </button></span>
                                    <span><button class="rd-50 btn btn-small bg-danger"><i
                                                class="bi bi-trash"></i></button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>