
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css); 

body {
  text-align: right;
  font-family: 'Arial', serif;

}

button {
  border: 1px solid;
  box-shadow: 5px 10px 18px #888888;
}

.margin-top-xs {
  margin-top: 2px;
}

.margin-left-xs {
  margin-left: 2px;
}

.margin-right-xs {
  margin-right: 2px;
}

.margin-bottom-xs {
  margin-bottom: 2px;
}

.margin-top-s {
  margin-top: 4px;
}

.margin-left-s {
  margin-left: 4px;
}

.margin-right-s {
  margin-right: 4px;
}

.margin-bottom-s {
  margin-bottom: 4px;
}

.margin-top-m {
  margin-top: 8px;
}

.margin-left-m {
  margin-left: 8px;
}

.margin-right-m {
  margin-right: 8px;
}

.margin-bottom-m {
  margin-bottom: 8px;
}


.margin-top-l {
  margin-top: 12px;
}

.margin-left-l {
  margin-left: 12px;
}

.margin-right-l {
  margin-right: 12px;
}

.margin-bottom-l {
  margin-bottom: 12px;
}


.margin-top-xl {
  margin-top: 16px;
}

.margin-left-xl {
  margin-left: 16px;
}

.margin-right-xl {
  margin-right: 16px;
}

.margin-bottom-xl {
  margin-bottom: 16px;
}

.margin-top-xxl {
  margin-top: 24px;
}

.border-rad-8{
  border-radius: 8px;
}

.effect-9 {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.effect-9~.focus-border:before,
.effect-9~.focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

.effect-9~.focus-border i:before,
.effect-9~.focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

.effect-9:focus~.focus-border:before,
.effect-9:focus~.focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

.effect-9:focus~.focus-border:after {
  transition-delay: 0.2s;
}

.effect-9:focus~.focus-border i:before,
.effect-9:focus~.focus-border i:after {
  height: 100%;
  transition: 0.2s;
}

.effect-9:focus~.focus-border i:after {
  transition-delay: 0.4s;
}

.pagination-list {
  list-style: none !important;
  padding: 0;
  margin: 0;
  display: flex;
}

a:hover {
  cursor: pointer !important;
}

.pagination-item:hover{
  cursor: pointer !important;
}

.pagination-item {
  color:red;
  display: flex;
}

.pagination-link {
  background-color: #fff;
  padding: 5px 10px;
  color: #007bff;
    border: 1px solid #dee2e6;
  border-right: 0;
}

.pagination-item.active a {
  background-color: #9AB87A;
}

.pagination-item:first-child a {
  border-radius: 5px 0 0 5px;
}


.pagination-item:last-child a {
  border-radius: 0 5px 5px 0;
  border-right: 2px solid #3D315B;
}

button:hover{
  cursor:  pointer !important;
}


.corner-btn {
  border-radius: 50px;
}

.bold{
  font-weight: bold;
}

textarea{
  resize: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #ce0000;
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
