<div class="container">

    <!--content-->
    <div class="row">

        <!--text and image-->
        <div class="col-md-6">

            <div class="card1 pb-5">
                <div class="row px-3 justify-content-center mt-4 mb-5 ">
                    <h3 class="m-2 text-dark " id="login-header"> منصة دروبفاي لدعم المشاريع الصغيرة </h3>
                    <h4 class="m-2 text-dark" id="login-title"
                        style=" font-weight: 300; font-size: 24px;position: relative; right: 30px;"> خدمات متكامله
                        (منتجات , شحن , تغليف) </h4>
                    <img src="https://dropphi.com/front/img/log-image.svg" class="image">
                </div>
            </div>
        </div>
        <!--end text and image-->

        <!--form-->
        <div class="col-lg-6">

            <form method="POST" action="https://dropphi.com/login">
                <input type="hidden" name="_token" id="login-username" value="gmyVtZQHO360J1vm1yoAdvX6a0xU1KCQFCy7kJDH">
                <div class="card2 card px-4 py-3 card-border auth-form" style="    border-radius: 25px">

                    <div class="row text-center">
                        <h1 class="col" style="color: #ce0000;">تسجيل الدخول</h1>
                    </div>

                    <hr class="mb-5">
                    <div class="row px-3">
                        <label class="mb-1" for="user">
                            <h6 class="mb-0 text-sm" style="color:#ce00009e;">اسم المستخدم</h6>
                        </label>
                        <input class="mb-4" type="text" name="user" id="user" placeholder="ادخل اسم المستخدم">
                    </div>

                    <div class="row px-3">
                        <label class="mb-1" for="email">
                            <h6 class="mb-0 text-sm" style="color:#ce00009e;">البريد الالكتروني</h6>
                        </label>
                        <input type="email" name="email" id="email" placeholder="أدخل البريد الإلكتروني" value="">
                    </div>

                    <div class="row px-3">
                        <label class="mb-1" for="mobile">
                            <h6 class="mb-0 text-sm" style="color:#ce00009e;">رقم الهاتف</h6>
                        </label>
                        <input type="text" name="mobile" id="mobile" placeholder="ادخل رقم الهاتف" value="">
                    </div>

                    <div class="row px-3">
                        <label class="mb-1" for="password">
                            <h6 class="mb-0 text-sm" style="color:#ce00009e;">الرقم السري</h6>
                        </label>
                        <input class="mb-4" type="password" name="password" id="password"
                            placeholder="أدخل الرقم السري">
                    </div>

                    <div class="row px-3 mb-4">
                        <label class="mb-1" for="password_confirmation">
                            <h6 class="mb-0 text-sm" style="color:#ce00009e;">تاكيد الرقم السري</h6>
                        </label>
                        <input type="password" name="password_confirmation" id="password_confirmation"
                            placeholder="ادخل قمك السري ">
                    </div>

                    <button class="login-btn" type="submit">
                        <div class="row  px-3 btn btn-red text-center"
                            style="color:#fff; font-weight: 700;font-size: 17px;">تسجيل الدخول </div>
                    </button>
                    <div class="d-block text-center mt-2"> <small class="font-weight-bold"> لديك حساب ؟ <a
                                href="https://dropphi.com/register" class="text-danger "
                                style="text-decoration: none;">سجل الدخول</a></small> </div>
                </div>

            </form>
        </div>
        <!--End form-->


    </div>
    <!--end content-->

</div>
<!--footer-->
<div class="row">
    <div class="col-md-12">
        <footer class="footer-bg">
            <div class="container py-5">
                <div class="row py-4">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="./drop.png" alt="" width="180" class="mb-3">
                        <p class="font-italic text-muted">منصة إلكترونية أردنية تدعم الشباب الأردني الطموح للبدء بالعمل
                            في التجارة الإلكترونية بدون رأس مال</p>

                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 ">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi">دروبفاي </h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="https://dropphi.com/about" class="text-muted">من نحن</a></li>
                            <li class="mb-2 features-scroll"><a href="https://dropphi.com#features"
                                    class="text-muted">الميزات </a></li>
                            <li class="mb-2"><a href="https://blog.dropphi.com" class="text-muted">المدونة</a></li>
                            <li class="mb-2"><a href="https://dropphi.com/contact" class="text-muted">اتصل بنا</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi">الشركة</h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="https://dropphi.com/privacy-policy"
                                    class="text-muted text-light">سياسة الخصوصية</a></li>
                            <li class="mb-2"><a href="https://dropphi.com/terms-and-conditions"
                                    class="text-muted text-light">الشروط والاحكام</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4 text-light doppi1">تابعنا على مواقع التواصل
                            الاجتماعي </h6>
                        <ul class="list-inline mt-4">
                            <li class="list-inline-item ml-2"><a href="https://www.facebook.com/Dropphi" target="_blank"
                                    title="twitter"><i class="fa fa-facebook fa-2x"></i></a></li>
                            <li class="list-inline-item ml-2"><a href="https://www.instagram.com/dropphii/"
                                    target="_blank" title="twitter"><i class="fa fa-instagram fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Copyrights -->
            <div style="background-color: #ebe0d1;padding-top: 0px !important;padding-bottom: 2px !important;">
                <div class="container px-4 d-flex justify-content-between">
                    <div>
                        <div class="text-left">
                            <p class="text-muted mb-0 py-2">©جميع الحقوق محفوظه لصالح دروبفاي</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="https://dropphi.com/assets/img/media/mastercard.png" title="mastercard">
                        <img src="https://dropphi.com/assets/img/media/visa.png" title="visa">
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <!--endfooter-->

</div>